html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    margin-top: 0px;
}

body {
    display: table-cell;
    vertical-align: top;
}
header {
    font-size: 15px;
    border-radius: 25px;
    background: #35424a;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    height: auto;
    color: rgb(221, 114, 38);
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}
footer {
    font-size: 15px;
    border-radius: 25px;
    background: #35424a;
    padding: 10px;
    width: 480px;
    height: 60px;
    color: rgb(221, 114, 38);
    text-align: center;
    font-family: 'Monda', sans-serif;
}
header img {
    height: 130px;
    width: 100px;

}
main {
    margin: 10px;
    height: 100px;
    width: 400px;
    text-align: left;
    font-family: 'Monda', sans-serif;
}
ul {
    list-style: none;
}
a {
    color: navy;
}
h3 {
    border-bottom: 2px solid black;
}
footer a {
    color: white;
}