header {
    font-size: 15px;
    border-radius: 25px;
    background: #35424a;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    height: 60px;
    color: #D36517;
    text-align: center;
}
footer {
    font-size: 15px;
    border-radius: 25px;
    background: #35424a;
    padding: 10px;
    width: 480px;
    height: 60px;
    color: #D36517;;
    text-align: center;
}
img {
    float: right;
    height: 140px;
    width: 100px;
    margin-top: -60px;
    margin-right: 12px;
}
main {
    margin: 10px;
    height: 100px;
    width: 400px;
    text-align: left;
}
ul {
    list-style: none;
}
a {
    color: navy;
}
h3 {
    border-bottom: 2px solid black;
}
footer a {
    color: white;
}